@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1dbbd8;
}

/*
*site header
*/

.logo {
    margin-left: 1vw;
    position: relative;
    width: 5vw;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.tab {
    transition: color 300ms;
    background-color: white;
    text-align: center;
    padding: 0.5em 1em;
    margin: 1.5vw;
    color: #1dbbd8;
    border-radius: 0.5vw;
    letter-spacing: 0.2rem;
    font-family: 'Calibre Web', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
}


.tab:hover {
    color: #0893ab;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

/*
* opening page 
*/

#home-image {
    height: 40vw;
    animation: 1s ease-out 0s 1 slide-down;
}

@keyframes slide-down {
    0% {
        transform: translateY(-20vw);
    }

    100% {
        transform: translateY(0);
    }
}

.opening-section-container {
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.opening-section {
    margin-top: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.opening-words {
    margin-right: 20vw;
}

.slogan {
    letter-spacing: 0.3rem;
    font-family: 'Calibre Web', sans-serif;
    font-weight: 700;
    font-size: 7vw;
    color: white;
}

.btn {
    transition: color 300ms;
    background-color: white;
    text-align: center;
    padding: 0.5em 1em;
    margin-top: 1.5vw;
    color: #1dbbd8;
    border-radius: 0.5vw;
    letter-spacing: 0.2rem;
    font-family: 'Calibre Web', sans-serif;
    font-weight: 700;
    font-size: 2vw;
}

.btn:hover {
    color: #0893ab;
}

.arrow {
    position: relative;
    margin-top: 2vw;
    width: 5vw;
    height: 5vw;
    background-image: url("images/arrow.png");
    background-size: contain;
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/*
* Info section
*/
.info-section {
    display: flex;
    flex-direction: row;

    align-content: center;
}

p {
    margin-left: 5vw;
    margin-top: 5vw;
    margin-right: 2vw;
    color: white;
    font-family: 'Calibre Web', sans-serif;
    font-size: 1.8vw;
}

#mockup {
    width: 40%;
}


/*
* Extra utilities
*/

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    margin-bottom: 2vw;
    color: white;
}


/*
* about page
*/

#about-bg {
    background-image: url("images/globe-fourth.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
}

.page-header {
    letter-spacing: 0.3rem;
    font-family: 'Calibre Web', sans-serif;
    font-weight: 700;
    font-size: 7vw;
    color: white;
    margin-top: 8vw;
}

.about-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
}

.about-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: -5vw 5vw 5vw -5vw;
    text-align: left;
}

#aadit-image {
    width: 300%;
    border-radius: 50%;
    margin-right: 10vw;
}

.about-description {
    margin-right: 15vw;
}

/*
* contact page
*/



/* =================================================================*/
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
    font-family: 'Calibre Web', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.background {
    display: flex;
    min-height: 50vw;
}

.container {
    margin-top: 10vw;
    flex: 0 1 60vw;
    margin: auto;
    padding: 2vw;
}

.screen {
    position: relative;
    background: white;
    border-radius: 1rem;
    min-height: 25vw;
    display: flex;
    align-items: center;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 1rem;
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 1vw 2vw;
    background: white;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 3vw;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.contact-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #1dbbd8;
    font-size: 2vw;
}

.contact-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -0.5vw;
    width: 4vw;
    height: 0.2vw;
    background: #0893ab;
}

.contact-content {
    margin-bottom: 1vw;
    color: #0893ab;
    font-size: 1.5vw;
}

/*
* Extra utilities
*/



@media (max-width: 960px) {

    #aadit-image {
        display: none;
    }

    .slogan {
        font-size: 8vw;
    }

    .about-description {
        margin-right: 14vw;
        color: white;
        background-color: #1dbbd8;
        border-radius: 1rem;
        padding: 2vw;
    }

    .btn {
        font-size: 2.5vw;
    }

    p {
        font-size: 3vw;
    }

    .tab {
        font-size: 2.2vw;
    }

    .contact-title {
        font-size: 2vw;
    }

    .contact-content {
        font-size: 2vw;
    }

    #mockup {
        width: 30%;
        height: 30%;
    }
}